# Recommended for most uses (pooled connection)
DATABASE_URL=postgresql://username:password@host/dbname?sslmode=require

# For uses requiring a connection without pgbouncer (direct connection)
DATABASE_URL_UNPOOLED=postgresql://username:password@host/dbname?sslmode=require
